# -----------------------------------------
# User-specific files
# -----------------------------------------
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# -----------------------------------------
# Build results
# -----------------------------------------
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug*/ 
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]*/
bld/
*.tmp
*.tmp_proj
*.log
*.tlog

# -----------------------------------------
# Visual Studio specific
# -----------------------------------------
.vs/
*.VC.db
*.VC.VC.opendb
*.ncb
*.sdf
*.opensdf
*.cache
*.aps
*.sln.iml
*.vssscc
*.vspscc
*.scc
*.pidb
*.svclog

# -----------------------------------------
# Backup and upgrade logs
# -----------------------------------------
Backup*/
_UpgradeReport_Files/
UpgradeLog*.*
*.rptproj.bak

# -----------------------------------------
# Test results
# -----------------------------------------
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml
*.VisualState.xml
TestResult.xml
nunit-*.xml
*.trx
*.tss
*.crunch*.local.xml

# -----------------------------------------
# Publishing
# -----------------------------------------
publish/
*.publishproj
*.pubxml
*.azurePubxml
*.PublishSettings
PublishScripts/

# -----------------------------------------
# NuGet
# -----------------------------------------
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json

# -----------------------------------------
# Microsoft Azure & Store
# -----------------------------------------
csx/
*.build.csdef
ecf/
rcf/
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.appxupload
Package.StoreAssociation.xml
_pkginfo.txt

# -----------------------------------------
# IDE & Tools
# -----------------------------------------
_ReSharper*/
*.DotSettings.user
_TeamCity*
.axoCover/*
*.dotCover
coverage*.*
.mfractor/
.ionide/
.vscode/
.localhistory/
.history/
*.code-workspace

# -----------------------------------------
# Node.js
# -----------------------------------------
node_modules/
.sass-cache/

# -----------------------------------------
# Other files
# -----------------------------------------
*.dbmdl
*.pfx
*.jfm
*.gpState
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
!Directory.Build.rsp
*.sbr
*.tlb
*.tli
*.tlh

# -----------------------------------------
# SQL Server
# -----------------------------------------
*.mdf
*.ldf
*.ndf

# -----------------------------------------
# Optional Tools
# -----------------------------------------
.paket/
paket-files/
.fake/
tools/
*.btp.cs
*.odx.cs
*.btm.cs
*.xsd.cs
*.jmconfig
*.GhostDoc.xml
*.nvuser
*.mm.*
AutoTest.Net/
OpenCover/
ASALocalRun/
healthchecksdb

# -----------------------------------------
# Xamarin/Mono
# -----------------------------------------
mono_crash.*
Generated_Code/
Generated\ Files/

# -----------------------------------------
# Windows Installer
# -----------------------------------------
*.cab
*.msi
*.msix
*.msm
*.msp
